@use "@styles/mixins";

.sideBarContainer {
  @include mixins.h-full;
  @include mixins.shadow-lg;
  background: var(--bg-elevated);
  display: flex;
  justify-content: start;
  flex-direction: row;
  padding: 0.25rem;
}

.wExpanded {
  width: 15rem;
}

.wContracted {
  width: 5rem;
}

.btn {
  @include mixins.btnPrimary;
}