@use "@styles/mixins";

.sideBarContainer {
  @include mixins.h-full;
  @include mixins.shadow-lg;
  background: var(--bg-elevated);
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 0.25rem;
}

.wExpanded {
  width: 20rem;
}

.wContracted {
  width: 5rem;
}

.sideBarBtn {
  @include mixins.btnTertiary;
  @include mixins.shadow-lg;
  margin-top: 1rem;
  width: calc(100% - 0.75rem);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  @include mixins.btnPrimary;
}

.sidebarBtnTxt {
  @include mixins.flex-center;
  justify-content: start;
  margin: 0.25rem;
  font-weight: 600;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu {
  margin-top: 0.75rem;
}