@use "@styles/mixins";
@use "@/styles/variables" as vars;

.hideDefault {
  @include mixins.hidden;

  &:checked+label {
    &:after {
      transform: scale(4.2);
    }
  }
}

.toggleLabel {
  @include mixins.btnPrimary;
  @include mixins.flex-center;
  border-radius: vars.$radius-lg !important;
  margin: 0.5rem 1.5rem 0px 0px;
  padding: 0.625rem;
  background: transparent;
  color: var(--text);
  border: 0px !important;
  box-shadow: none;

  &:hover {
    background: var(--hover-overlay);
    box-shadow: none;
  }

  svg {
    flex-shrink: 0;
  }
}
