@import "@styles/mixins";

.hideDefault {
  @include hidden;

  &:checked + label {
    &:after {
      transform: scale(4.2);
    }
  }
}

.toggleLabel {
  padding: 0.5rem 0.75rem;
  color: var(--text-inverse);
  background: var(--primary);
  @include shadow-primary;
}