@use "@styles/mixins";

.hideDefault {
  @include mixins.hidden;

  &:checked + label {
    &:after {
      transform: scale(4.2);
    }
  }
}

.toggleLabel {
  @include mixins.btnPrimary;
  margin: 0.5rem 1.5rem;
  z-index: 100;
}