@use "@styles/mixins";

.hideDefault {
  @include mixins.hidden;

  &:checked + label {
    &:after {
      transform: scale(4.2);
    }
  }
}

.toggleLabel {
  padding: 0.5rem 0.75rem;
  color: var(--text-inverse);
  background: var(--primary);
  @include mixins.shadow-primary;
  z-index: 100;
}