@import "@styles/mixins";
@import "@styles/themes";
@import "@styles/variables";
@import "@styles/utils";

/* Global element defaults */
html, body {
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-quicksand), sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
