@use "@styles/mixins";
@use "@styles/variables" as vars;

.card {
  @include mixins.radius;
  @include mixins.shadow-primary;
  @include mixins.absolute-center;
  width: vars.$card-width;
  height: vars.$card-height;
  background: var(--primary);
  padding: 2rem;
}

.headContainer {
  @include mixins.h-custom(vars.$head-height);
}

.loginH1 {
  font-size: 3.5rem;
  color: var(--primary-light);
}

.formContainer {
  @include mixins.absolute-center;
  @include mixins.flex-center;
  @include mixins.h-custom(vars.$form-height);
  position: absolute;
  margin-top: 1rem;
}

.textBoxContainer {
  @include mixins.flex-center;
  @include mixins.flex-wrap;
  align-content: center;
  width: 100%;
  height: vars.$text-box-height;
}

.inputContainer {
  width: 100%;
}

.mainContainer {
  @include mixins.flex-wrap;
}

.btnContainer {
  width: vars.$btn-container-width;  
  display: flex;
  @include mixins.flex-wrap;
  height: auto;
  justify-content: space-around;
}

.btnPrimary {
  @include mixins.btnPrimary;
}

.btnSecondary {
  @include mixins.btnSecondary;
}

.btnTertiary {
  @include mixins.btnTertiary;
}

.textInputPrimary{
  @include mixins.textInputPrimary;
}

.passwdWrapper { 
  @include mixins.passwdWrapper;
}

.eyeBtn {
  @include mixins.eyeBtn;
}

.checkbox {
  @include mixins.checkbox;
}

.checkboxInput {
  @include mixins.checkboxInput;
}