@use "@styles/mixins";
@use "@styles/variables" as vars;

.incomeContainer {
  @include mixins.page-container;
}

.header {
  @include mixins.page-header;
}

.categoriesGrid {
  @include mixins.responsive-grid;
}

.categorySection {
  @include mixins.category-card;
}

.categoryHeader {
  @include mixins.section-header;
}

.categoryIcon {
  @include mixins.section-icon;
}

.incomeTable {
  @include mixins.data-table;
}

.tableHeader {
  @include mixins.table-header;
}

.tableBody {
  @include mixins.table-body;
}

.tableRow {
  @include mixins.table-row;

  span {
    @include mixins.flex-center;
  }
}

.descriptionCol {
  @include mixins.text-left;
}

.tableRow .descriptionCol {
  color: var(--text);
  font-weight: 500;
}

.amountCol {
  @include mixins.text-right;
}

.tableRow .amountCol {
  color: var(--success);
  font-weight: 600;
  font-size: 1.05rem;
}

.categoryTotal {
  @include mixins.category-total;
}

.grandTotal {
  @include mixins.grand-total;
}

.grandTotalContent {
  @include mixins.grand-total-content;
}

.grandTotalAmount {
  @include mixins.grand-total-amount;
}