@import "@styles/mixins";

.card {
  @include radius;
  @include shadow-primary;
  width: 25rem;
  height: 30rem;
  background: var(--primary);
  padding: 2rem;
  position: relative;
}

.headContainer {
  @include h-custom(6rem);
}

.loginH1 {
  font-size: 3.5rem;
  color: var(--primary-light);
}

.formContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include flex-center;
  @include h-custom(20rem);
  margin-top: 1rem;
  flex-wrap: wrap;
}

.textBoxContainer {
  @include flex-center;
  @include flex-wrap;
  width: 100%;
  height: 10rem;
}

.inputContainer {
  width: 100%;
}

.mainContainer {
  flex-wrap: wrap;
}

.btnContainer {
  width: 20rem;  
  display: flex;
  @include flex-wrap;
  height: auto;
  justify-content: space-around;
}

.btnPrimary {
  @include btnPrimary;
}

.btnSecondary {
  @include btnSecondary;
}

.btnTertiary {
  @include btnTertiary;
}

.textInputPrimary{
  @include textInputPrimary;
}
