@import "@styles/mixins";

.card {
  @include radius;
  @include shadow-primary;
  width: 25rem;
  height: 30rem;
  background: var(--primary);
  padding: 2rem;
  gap: 2rem;
  flex-direction: column;
}

.invertTextColor {
  color: var(--bg-elevated);
}


.loginContainer {
  @include flex-center;
  @include flex-wrap;
  width: 100%;
  height: 10rem;
}

.inputContainer {
  width: 100%;
}

.mainContainer {
  flex-wrap: wrap;
}

.btnContainer {
  width: 20rem;  
  display: flex;
  @include flex-wrap;
  height: auto;
  justify-content: space-around;
}

.btnPrimary {
  @include btnPrimary;
}

.btnSecondary {
  @include btnSecondary;
}

.btnTertiary {
  @include btnTertiary;
}

.textInputPrimary{
  @include textInputPrimary;
}
