@import "@styles/mixins";

.card {
  @include radius;
  @include shadow-primary;
  width: 25rem;
  height: 30rem;
  background: var(--primary);
}

.textInput {
  @include radius;
  padding: 0.3rem 0.5rem;
  margin-top: 0.5rem;
  width: 50%;
  height: 20px;
  background: var(--bg-secondary);
  @include shadow-primary;
}