// flex / gird helpers
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Media query helpers
@mixin respond($breakpoint) {
  @if $breakpoint == md {
    @media (min-width: 768px) { @content; }
  }
  @else if $breakpoint == lg {
    @media (min-width: 1024px) { @content; }
  }
}