// height
@mixin h-full {
  height: 100%;
}

// width
@mixin w-full {
  width: 100%;
}

// flex / gird helpers
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-v {
  display: flex;
  justify-content: center;
}

@mixin flex-center-h {
  display: flex;
  align-items: center;
}

// Media query helpers
@mixin respond($breakpoint) {
  @if $breakpoint == md {
    @media (min-width: 768px) { @content; }
  }
  @else if $breakpoint == lg {
    @media (min-width: 1024px) { @content; }
  }
}