@import "themes/catppuccin.module.scss";
@import "themes/everforest.module.scss";
@import "themes/nord.module.scss";
@import "themes/rose-pine.module.scss";
@import "themes/zenburn.module.scss";

:root {
  /* shared constants */
  --radius: 8px;
  --spacing: 1rem;
  --transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
