// Global reuseable classes
@import "@styles/mixins";
.flex-center { @include flex-center; }
.h-full { @include h-full; }
.w-full { @include w-full; }
.flex-center-v { @include flex-center-v }
.flex-center-h { @include flex-center-h }
.radius { @include radius }
.pointer { @include pointer }