$card-width: 25rem;
$card-height: 30rem;
$form-height: 20rem;
$text-box-height: 10rem;
$head-height: 6rem;
$btn-container-width: 20rem;

// Sidebar
$sidebar-collapsed-width: 3.75rem;
$sidebar-expanded-width: 20rem;
$sidebar-expanded-width-lg: 25rem;

// Spacing
$spacing-xs: 0.2rem;
$spacing-sm: 0.4rem;
$spacing-md: 0.5rem;
$spacing-lg: 0.7rem;
$spacing-xl: 1rem;
$spacing-2xl: 1.25rem;

// Border radius
$radius-sm: 0.2rem;
$radius: 0.3rem;
$radius-md: 0.5rem;
$radius-lg: 0.75rem;
$radius-xl: 1rem;
$radius-2xl: 1.5rem;
$radius-full: 9999px;

// Font
$letter-spacing: 0.1rem;
$font-size-2xs: xx-small;
$font-size-xs: x-small;
$font-size-sm: small;
$font-size-md: medium;
$font-size-large: larger;
$font-size-xl: x-large;
$font-size-2xl: xx-large;
$font-size-3xl: xxx-large;

// Dimensions
$input-width: 20rem;
$input-height: 30px;
$checkbox-size: 10rem;
$icon-size: 3px;
$eye-btn-distance: 1rem;

// Breakpoints
$breakpoints: (
  mobile-s: 320px,
  mobile-m: 375px,
  mobile-l: 425px,
  tablet: 768px,
  laptop: 1024px,
  laptop-l: 1440px,
  4k: 2560px
);
