$card-width: 18rem;
$card-height: 22rem;
$form-height: 16rem;
$text-box-height: 7rem;
$head-height: 4rem;
$btn-container-width: 14rem;

// Sidebar
$sidebar-collapsed-width: 3.75rem;
$sidebar-expanded-width: 20rem;
$sidebar-expanded-width-lg: 18rem;

// Navbar
$navbar-height: 3rem;

// Spacing
$spacing-xs: 0.2rem;
$spacing-sm: 0.4rem;
$spacing-md: 0.5rem;
$spacing-lg: 0.7rem;
$spacing-xl: 1rem;
$spacing-2xl: 1.25rem;

// Border radius
$radius-sm: 0.2rem;
$radius: 0.3rem;
$radius-md: 0.5rem;
$radius-lg: 0.75rem;
$radius-xl: 1rem;
$radius-2xl: 1.5rem;
$radius-full: 9999px;

// Font
$letter-spacing: 0.05rem;
$font-size-2xs: 0.625rem; // 10px
$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-md: 1rem; // 16px
$font-size-large: 1.125rem; // 18px
$font-size-xl: 1.25rem; // 20px
$font-size-2xl: 1.5rem; // 24px
$font-size-3xl: 1.875rem; // 30px

// Dimensions
$input-width: 16rem;
$input-height: 36px;
$checkbox-size: 1rem;
$icon-size: 1rem;
$eye-btn-distance: 0.75rem;

// Breakpoints
$breakpoints: (
  mobile-s: 320px,
  mobile-m: 375px,
  mobile-l: 425px,
  tablet: 768px,
  laptop: 1024px,
  laptop-l: 1440px,
  4k: 2560px
);
