// Layout dimensions
$card-width: 25rem;
$card-height: 30rem;
$form-height: 20rem;
$text-box-height: 10rem;
$head-height: 6rem;
$btn-container-width: 20rem;
$btn-margin: 0.4rem;

// letter spacing
$letter-spacing: 0.1rem;
